.container {
  margin: 0 !important;
}

.side-nav {
  height: 100vh;
  border-right: 3px solid #555;
  background: #eee;
  padding: 0 !important;
  text-align: center;
}

.site-title {
  background: white;
  height: 28%;
  border-bottom: 2px solid #555;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.link-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link-container .link {
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  user-select: none;
  border: 1px solid #555;
}

.table-view {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 500px;
  border-top: 3px solid #555;
  border-bottom: 3px solid #555;
  overflow-y: scroll;
}

.dataviz-view {
  min-height: 330px;
}

.link-switch {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.display-dot {
  width: 20%;
}

.divider-dot {
  user-select: none;
}

td.column-active {
  font-weight: 500;
}

th.header-toggle {
  cursor: pointer;
  user-select: none;
}

th.header-toggle:hover {
  background: #ddd;
}

.dataviz-view__chart-container {
  min-height: 290px;
  margin-bottom: 5px;
  border-bottom: 1px solid #555;
}

.dataviz-view__dataviz-selector {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-around;
}

.dataviz-view__dataviz-selector button {
  margin-right: 30px;
}